:root {
  --book-cover-width: 225px;
  --book-cover-width-medium: 250px;
  --book-cover-width-large: 325px;
  --book-cover-aspect-ratio: 0.75;
}

.book-cover {
  width: var(--book-cover-width);
  height: calc(var(--book-cover-width) / var(--book-cover-aspect-ratio));
  object-fit: cover;
  object-position: center;
}

.book-cover-large {
  --book-cover-width: var(--book-cover-width-large);
  object-fit: cover;
  object-position: center;
  /* overflow: hidden; */
}

.book-cover-medium {
  --book-cover-width: var(--book-cover-width-medium);
  object-fit: cover;
  object-position: center;
  /* overflow: hidden; */

}

.book-grid {
  display: grid;
  justify-content: center;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, var(--book-cover-width));
}

.book-grid-large {
  grid-template-columns: repeat(auto-fill, var(--book-cover-width-large));
}

.book-grid-medium {
  grid-template-columns: repeat(auto-fill, var(--book-cover-width-medium));
}

.book-details {
  display: flex;
}

.book-details-label {
  font-size: 1.2rem;
  font-weight: 500;
  align-self: flex-start;
}

.book-details-grid {
  display: grid;
  align-content: flex-start;
  align-items: center;
  grid-gap: 1rem;
  grid-template-columns: auto auto;
  white-space: pre-line;
  margin-left: 25px;
}

.book-details-btn-grid {
  display: grid;
  justify-items: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  grid-template-areas:
    "edit delete"
    "author author";
  grid-gap: .5rem;
  margin-top: .5rem;
}

.book-details-author-button {
  grid-area: author;
  justify-self: stretch;
}

.book-detail-delete-button {
  grid-area: delete;
}

.book-detail-edit-button {
  grid-area: edit;
}

.info {
  font-size: 15px;
  text-decoration: none;
  color: aliceblue;
}

.book__index {
  text-decoration: none;
}

@media screen and (max-width: 860px){
  .book-details-btn-grid {
    grid-template-areas:
    "edit"
    "delete"
    "author";
  }

  .book-detail-delete-button {
    grid-area: delete;
    justify-self: stretch;
  }

  .book-details-grid {
    display: grid;
    align-content: flex-start;
    align-items: center;
    grid-gap: 1rem;
    grid-template-columns: auto;
    white-space: pre-line;
    margin-left: 5px;
  }
  .book-details {
    display: flex;
    flex-direction: column;
}
}