:root {
  --nav-title-font-size: 2rem;
  --nav-title-font-weight: bold;
  --nav-link-font-weight: 300;
}

.header-title {
  color: var(--color-text-light);
  text-decoration: none;
  font-size: var(--nav-title-font-size);
  font-weight: var(--nav-title-font-weight);
}

.header-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
  margin-left: 20px;
  margin-right: 20px;
}

.header-nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.header-nav li {
  list-style: none;
}

.header-nav li a {
  text-decoration: none;
  color: var(--color-text-light);
  font-weight: var(--nav-link-font-weight);
  padding: 1rem;
}

.header-nav li a:hover, .header-title:hover {
  color: white;
}

@media screen and (max-width: 790px ) {
  /* .header-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 15px;
    white-space: nowrap;
    padding: 0px;
  } */

  .header-nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 15px;
    white-space: nowrap;
    padding: 0px;
  }

  .header-title {
    color: var(--color-text-light);
    text-decoration: none;
    font-size: 1.5rem;
    margin-bottom: 14px;
    margin-top: 12px;
  }
  .header-nav li a {
    padding: 0.5rem;
  }
}